body {
	font-family:"宋体","Arial Narrow";
	font-size:12px;
	line-height:22px;
	margin:0px; padding:0px;
	background-color:#FFFFFF;
}
img {border:0px;}

/* 顶部样式 */
#header{
	margin:40px auto;
	width:900px;
	text-align:right;
}

#header a{ text-decoration:none; color:#656D77; }
#header a:hover{ color:Red; text-decoration:underline;}
/*#End--------------------------------------------------------------------------*/

/* 中部样式 */
#zzk{ margin:40px auto; width:900px; text-align:center; height:200px;}
#zzk img{ margin-bottom:20px; margin-top:20px;}
/*#End--------------------------------------------------------------------------*/

/* 版权样式 */
#copyright{ margin:10px auto; width:900px; text-align:center; color:#656D77; padding-bottom:10px;}
#copyright a{ text-decoration:none; color:#656D77; }
/*#End--------------------------------------------------------------------------*/

/* 控件样式表 */
.inputText{ border-bottom:1px solid #BDC5CA; border-right:1px solid #BDC5CA; border-top:1px solid #6F787E; border-left:1px solid #6F787E; padding:5px; font-size:14px; background-color:#F5F5F5; width:300px; }
.inputSubmit{ font-size:14px; padding:5px 5px 2px 5px;}
/*#End--------------------------------------------------------------------------*/

/* 找找看结果样式 */
.header{ margin:10px auto; width:990px;}
.header img{ border:0px; margin-left:10px; margin-right:20px;}

.headerBaseInfo{ margin:10px auto; width:980px; background-color:#d5ddf3; height:24px; line-height:24px; border-top:solid 1px #3366cc; padding-right:10px; color:#000000; text-align:right; position:relative;}
.headerBaseInfo a{ left:10px; top:0px; position:absolute; text-decoration:none; color:#000000;}

.resultBoby{ margin:10px auto; width:990px; position:relative;}

.leftBoby{ margin-left:10px; margin-top:0px; width:710px; border-right:solid 1px #3366cc;}
.leftBoby a{ text-decoration:none; }
.leftBobyPager{ margin:10px 0px 10px 0px;}
.bobyTitle{ margin-top:10px; margin-left:0px; font-size:15px; }
.bobyContent{ margin-top:5px; margin-left:0px; margin-right:20px; font-size:13px; text-indent:2em;}
.bobyUrl{ margin-top:5px; margin-left:0px; }

.rightBoby{ position:absolute; right:0px; top:0px; width:270px; text-align:center;}

.rightBobyAd{ margin:0px;}

.rightBobyHistory{ margin-top:10px; margin-bottom:10px; margin-left:20px; padding:0px; text-align:left;}
.rightBobyHistory a{ text-decoration:none; color:Blue;}
.rightBobyHistory a:hover{ text-decoration:underline; color:Red;}

.rightBobySearch{ margin-top:10px; margin-bottom:10px; margin-left:20px; padding-top:10px; text-align:left; border-top:solid 1px #3366cc;}
.rightBobySearch a{ text-decoration:none; color:Blue;}
.rightBobySearch a:hover{ text-decoration:underline; color:Red;}
/*#End--------------------------------------------------------------------------*/

/* 相关搜索样式 */
#relativeSearch{ margin:10px auto; width:990px; background-color: #eff2fa; }
.relativeSearchTd{ height:30px; line-height:30px; font-size:14px; }
.relativeSearchTd a{ color:#261cdc; margin-right:20px; text-decoration:none;}
.relativeSearchTd a:hover{ color:Red; text-decoration:underline;}
/*#End--------------------------------------------------------------------------*/

/* AspNetPager */
.anpager .cpb {background:#1F3A87 none repeat scroll 0 0;border:1px solid #CCCCCC;color:#FFFFFF;font-weight:bold;margin:5px 4px 0 0;padding:4px 5px 0; font-family:黑体;}
.anpager a {background:#FFFFFF none repeat scroll 0 0;border:1px solid #CCCCCC;color:#1F3A87;margin:5px 4px 0 0;padding:4px 5px 0;text-decoration:none; font-family:黑体;}
.anpager a:hover{background:#1F3A87 none repeat scroll 0 0;border:1px solid #1F3A87;color:#FFFFFF; font-family:黑体;}
/*#End--------------------------------------------------------------------------*/